@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Work+Sans:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navBar {
    position: fixed;
    top: 0;
    float: right;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    display: none;
}

.navButtonText {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

.navButton:checked + .navButtonText {
    color: white;
    background: black;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
}

.contentDiv {
    margin-top: 50px;
}

#home {
    background: blue;
}

#skills {
    background: red;
}

#projects {
    background: green;
}

#about {
    background: orange;
}

.logo {
    height: 50px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.contentCards {
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    width: 100%;
}

.column {
    height: 100%;
    width: 20%;
    padding: 10px;
    display: inline-block;
}

.row {
    height: 50%;
    padding: 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the counter cards */
.contentCard {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 2%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: 20%;
        display: block;
        margin-bottom: 20px;
    }
}